.video-card {
  height: 19rem;
  width: 19rem;
  margin: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(69, 69, 4);
  box-shadow: 4px 4px 4px rgb(51, 51, 51);
  background-color: rgb(51, 51, 51);
}

.video-link {
  height: 10rem;
  margin: 1rem;
}

.video-img {
  margin-top: 1.2rem;
  width: 90%;
  height: 10rem;
}

.title {
  margin: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.title i {
  margin-top: 6px;
  cursor: pointer;
  z-index: 0;
}

.creator {
  margin: 1rem;
  font-size: 12px;
}

.views-time {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.fa-ellipsis-v {
  position: relative;
}

.options {
  position: absolute;
  top: 1.3rem;
  right: 0;
  width: 11rem;
  height: fit-content;
  background-color: var(--darkGray-color3);
  border: 2px solid var(--gray-color);
  font-weight: 100;
  z-index: -5;
}

.options li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: rgb(68, 67, 67);
}

.showOptions {
  visibility: hidden;
}

@media only screen and (max-width: 1350px) {
  .video-card {
    width: 17rem;
    height: 19rem;
  }
}

@media only screen and (max-width: 1230px) {
  .video-card {
    width: 16rem;
    height: 17rem;
  }
  .creator {
    margin: 1rem;
  }
  .video-img {
    height: 8rem;
  }
}

@media only screen and (max-width: 1164px) {
  .video-card {
    width: 15rem;
    height: 17rem;
    margin: 1rem;
  }
  .video-img {
    height: 7rem;
  }
}

@media only screen and (max-width: 1102px) {
  .video-card {
    height: 19rem;
    width: 19rem;
    margin: 1.5rem;
  }
  .video-img {
    height: 10rem;
  }
}

@media only screen and (max-width: 901px) {
  .video-card {
    width: 16rem;
    height: 17rem;
  }
  .creator {
    margin: 1rem;
    font-size: 10px;
  }
  .video-img {
    height: 8rem;
  }
}

@media only screen and (max-width: 780px) {
  .video-card {
    width: 15rem;
    height: 17rem;
    margin: 7px;
  }
  .video-img {
    height: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .video-card {
    width: 18rem;
    height: 16rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .video-card {
    width: 15rem;
  }
}

@media only screen and (max-width: 350px) {
  .video-card {
    width: 12rem;
    height: 15rem;
  }
  .views-time span {
    display: none;
  }
}
