.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.like-container {
  width: 112%;
  margin: 23vh 2vw 0 2vw;
  color: var(--white-color);
}

.redirect-login-btn {
  position: relative;
  top: 30vh;
  left: 30vw;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.redirect-login-btn:hover {
  border: 3px solid var(--white-color);
}
