.home {
  width: 70vw;
  margin-left: 18vw;
}

.video-container {
  width: 112%;
  margin: 23vh 2vw 0 2vw;
  display: flex;
  flex-wrap: wrap;
  color: var(--white-color);
}

.fa-spinner {
  position: relative;
  top: 30vh;
  left: 30vw;
}

@media only screen and (max-width: 500px) {
  .video-container {
    margin: 25vh 2vw 0 2vw;
  }
}
