@import url("https://fonts.googleapis.com/css2?family=Arimo&family=IBM+Plex+Sans+Thai+Looped:wght@400;600;700&family=Lobster&family=Playfair+Display:wght@400;700&family=Roboto:wght@300&display=swap");

.navbar {
  height: 10vh;
  width: 100%;
  background-color: var(--redishGray-color);
  color: var(--white-color);
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--darkGray-color2);
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}

.logo {
  width: 18vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--white-color);
  -webkit-text-stroke: 1px var(--primary-color);
  font-family: "Playfair Display", serif;
  font-family: "Lobster", cursive;
}

.searchArea {
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchArea input {
  width: 38vw;
  height: 1.8rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--whitesmoke-color);
  padding: 1rem;
}

.navicons {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.navicons li {
  list-style: none;
}

.log {
  padding: 6px 1.2rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
}

.log:hover {
  border: 1px solid var(--primary-color);
}

.navbar .search-icon {
  display: none;
}

.small-search {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .large-search {
    display: none;
  }
  .small-search {
    display: unset;
    position: absolute;
    top: 10rem;
    right: 2rem;
  }
  .searchArea input {
    width: 68vw;
  }
  .navicons {
    width: 50vw;
  }
  .logo {
    height: 3rem;
    margin: 0 2rem;
  }
  .navbar .search-icon {
    display: unset;
  }
  .log {
    padding: 6px 10px;
  }
}
