.filter {
  height: 8vh;
  width: 82%;
  position: fixed;
  top: 10vh;
  background-color: var(--redishGray-color);
  color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter button {
  padding: 5px 2rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .filter {
    overflow-y: scroll;
    height: 9vh;
  }
}
