* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: #262626;
}

.App {
  position: relative;
}

main {
  min-height: 100vh;
  color: white;
}

@media only screen and (max-width: 500px) {
  .error404 {
    font-size: 4rem;
    padding: 14rem 0 0 3rem;
  }
  .error404-msg {
    font-size: 1rem;
    margin: 4rem;
    color: var(--red-color);
  }
}

/********** Colors ***********/

:root {
  --primary-color: blue;
  --background-color: rgb(250, 255, 95);
  --background2-color: rgb(197, 242, 255);
  --black-color: black;
  --white-color: white;
  --green-color: green;
  --darkGreen-color: darkgreen;
  --lawngreen-color: lawngreen;
  --red-color: red;
  --darkBlue-color: darkblue;
  --darkGray-color: darkgray;
}
