.singleVideo {
  padding-top: 12vh;
  min-height: 100vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
  margin-left: 20vw;
  box-shadow: 4px 4px 4px rgb(51, 51, 51);
  position: relative;
}

.video {
  width: 95%;
  height: 55vh;
  margin: 2rem 0 1rem 1rem;
  border: 2px solid gray;
}

.video iframe {
  width: 100%;
  height: 55vh;
}

.videoTitle {
  font-size: 2rem;
  color: white;
  margin: 0.5rem 0 1rem 1rem;
}

.videoCreator {
  color: white;
  margin: 0rem 0 1rem 1rem;
}

.interact span {
  margin: 1rem;
}

.interact i {
  border: 1px solid white;
  padding: 5px 2rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.far::selection {
  background-color: red;
}

.display-like {
  visibility: hidden;
}

.saveToPlaylist {
  height: 12rem;
  width: 20rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: absolute;
  top: 32%;
  left: 32%;
  padding: 5px;
  border: 2px solid white;
  background-color: white;
  z-index: 3;
}

.createdPlaylist input {
  margin-left: 1rem;
}

.saveToPlaylist button {
  width: 100%;
  background-color: #262626;
  color: white;
  box-shadow: 2px 2px 2px #262626;
}

.space-between {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}

.cancel {
  padding: 4px 10px 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.cancel:hover {
  background-color: rgb(198, 195, 195);
}

.createPlaylist button {
  width: calc(20rem - 14px);
}

.createNewPlaylist {
  height: 12rem;
  width: 20rem;
  position: absolute;
  top: 32%;
  left: 32%;
  padding: 5px;
  border: 2px solid black;
  background-color: white;
  z-index: 2;
}

.createPlaylist {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid white;
}

.createPlaylist input {
  height: 2rem;
  width: 90%;
  margin: auto;
}

.createPlaylist button {
  height: 2rem;
  width: 80%;
  margin: auto;
  background-color: #262626;
  color: white;
  box-shadow: 2px 2px 2px #262626;
}

.hideSaveToPlaylist {
  visibility: hidden;
}

.hideCreateNewPlaylist {
  visibility: hidden;
}
