.singleVideo {
  padding-top: 12vh;
  min-height: 100vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
  margin-left: 20vw;
  box-shadow: 4px 4px 4px rgb(51, 51, 51);
  position: relative;
}

.video {
  width: 95%;
  height: 55vh;
  margin: 2rem 0 1rem 1rem;
  border: 2px solid var(--gray-color);
}

.video iframe {
  width: 100%;
  height: 55vh;
}

.videoTitle {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0.5rem 0 1rem 1rem;
}

.videoCreator {
  color: var(--white-color);
  margin: 0rem 0 1rem 1rem;
}

.interact span {
  margin: 1rem;
}

.interact i {
  border: 1px solid var(--white-color);
  padding: 5px 2rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.far::selection {
  background-color: var(--red-color);
}

.display-like {
  visibility: hidden;
}

.saveToPlaylist {
  height: 12rem;
  width: 20rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: absolute;
  top: 32%;
  left: 32%;
  padding: 5px;
  border: 2px solid var(--white-color);
  background-color: var(--white-color);
  z-index: 3;
}

.createdPlaylist input {
  margin-left: 1rem;
}

.saveToPlaylist button {
  width: 100%;
  background-color: var(--darkGray-color3);
  color: var(--white-color);
  box-shadow: 2px 2px 2px var(--darkGray-color3);
}

.space-between {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--white-color);
}

.cancel {
  padding: 4px 10px 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.cancel:hover {
  background-color: var(--redishGray-color2);
}

.createPlaylist button {
  width: calc(20rem - 14px);
}

.createNewPlaylist {
  height: 12rem;
  width: 20rem;
  position: absolute;
  top: 32%;
  left: 32%;
  padding: 5px;
  border: 2px solid var(--black-color);
  background-color: var(--white-color);
  z-index: 2;
}

.createPlaylist {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid var(--white-color);
}

.createPlaylist input {
  height: 2rem;
  width: 90%;
  margin: auto;
}

.createPlaylist button {
  height: 2rem;
  width: 80%;
  margin: auto;
  background-color: var(--darkGray-color3);
  color: var(--white-color);
  box-shadow: 2px 2px 2px var(--darkGray-color3);
}

.hideSaveToPlaylist {
  visibility: hidden;
}

.hideCreateNewPlaylist {
  visibility: hidden;
}

.addNote,
.notes {
  width: 95%;
  min-height: 12vh;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  color: var(--white-color);
}

.addNote input,
.addedNote {
  background-color: var(--gray-color);
  width: 100%;
  min-height: 8vh;
  margin: 10px 0;
  color: var(--white-color);
  padding: 8px;
}

.addNote input {
  padding: 5px;
  background-color: var(--white-color);
  color: var(--black-color);
}

.editNoteBtn,
.addNoteBtn,
.deleteNoteBtn {
  padding: 5px 10px;
  margin: 2px 0;
  background-color: transparent;
  color: var(--white-color);
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

@media only screen and (max-width: 500px) {
  .singleVideo {
    padding-top: 15vh;
  }
  .video {
    height: 45vh;
    margin: 0;
  }
  .video iframe {
    height: 45vh;
  }
  .interact span {
    display: none;
  }
  .interact i {
    padding: 5px 12px;
  }
  .videoTitle {
    margin: 3rem 0 1rem 1rem;
  }
}
